version: "3.9"

services:
  db:
    image: postgres:15
    container_name: sales_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: salesdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: ./api
    container_name: sales_api
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: salesdb
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_PORT: 5432
    ports:
      - "8000:8000"

volumes:
  postgres_data:
